/*
    Author: Jake Ma
    Version: 1.0
    URL: http://jakema2017.com
*/

/*
==========================
1. General
2. Home
3. Navigation
4. Education
5. Resume
6. Skills



==========================
*/


/* #0 === Preloader === */
#preloader {
    background: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9999;
}

#pre-status,
.preload-placeholder {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.preload-placeholder {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}


/* #1 === General === */
.showBorder {
    border: violet solid 2px;
    font-weight: 300;
    font-size: 14px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2{
    font-weight: bold;
}

/*--- Button Style ---*/
.btn{
    border: 0;
    border-bottom: 3px solid;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    padding: 9px 22px;
}

/*btn-primary*/
.btn-primary{
    background-color:#68c3a3;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4eb28f;
    border-color: #4eb28f;
}

/*btn-info*/
.btn-info{
    background-color:#52b3d9;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-info:hover, 
.btn-info:focus, 
.btn-info.focus, 
.btn-info:active, 
.btn-info.active, 
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #4aa0c2;
    border-color: #4aa0c2;
}

/*btn-default*/
.btn-default {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default.focus, 
.btn-default:active, 
.btn-default.active{
    color: #68c3a3;
    background-color: #fff;
    border-color: #fff;
}

button:focus {
    outline: none;
}

.form-control {
    height: 45px;
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: #68c3a3;
    box-shadow: none;
}

.section-title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #2c3e50;
    position: relative;
    text-transform: uppercase;
}

.section-title::after {
    content: "";
    background: url(../images/section-divider.png) no-repeat 0 0;
    height: 15px;
    width: 113px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: 0 auto;
}

.section-padding {
    padding: 120px 0 100px;
}




/* #2 === HOME === */
@media (max-width : 640px) {
    .fullHeight{
        height: 560px !important;
    }
}

.bcg {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(../images/home-umn-c.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bcg:before {
    content: "";
    background-color: rgba(26, 30, 35, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
       -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
         -o-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    padding: 0 15px;
}

.intro h1{
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
    color: #52b3d9;
    font-weight: bold;
}
.intro h1 span{
    color: #68c3a3;
}
.intro p{
    color: #f7f7f7;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

/* SOCIAL ICON */
.social-icons {
    margin-top: 20px;
}
.social-icons a i{
    position: relative;
    color: #ffffff;
    font-size: 18px;
    margin: 0 7px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;

}

/* Make the icon shows above frame*/
.social-icons a i::before {
    position: relative;
    z-index: 1;
}

.social-icons a i::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
         -o-transition: all 300ms;
            transition: all 300ms;            
}

.social-icons a:first-child i:hover::after{
    background: #0077B5;
    border: 1px solid transparent;
    z-index: 0;
}
.social-icons a #git:hover::after{
    background: #000000;
    border: 1px solid transparent;
    z-index: 0;
}

/* Mouse Animation */

.mouse {
	position: absolute;
	left: 50%;
	height: 50px;
	width: 30px;
	border: 2px solid #ffffff;
	display: block;
	z-index: 10;
	bottom: 50px;
	border-radius: 20px;
}

.wheel {
	position: relative;
	background: #ffffff;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	width: 4px;
	top: 5px;
	border-radius: 10px;

	-webkit-animation-name: fadeOutDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
	animation-name: fadeOutDown;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-play-state: running;
}

/* #3 ===Navigation=== */
.general {
	border-bottom: 2px solid #dddddd;
	width: 100%;
	z-index: 100;
    margin-bottom: 2%;
}
.nav-custom {
    border: 0;
    border-radius: 0;
    margin: auto;
    text-transform: uppercase;
    padding: 0;
    width: 75%;
}

.nav-custom .navbar-brand,
.nav-custom .navbar-brand:hover{
    font-weight: 700;
    font-size: 35px;
    color: #52b3d9;
}
.nav-custom .navbar-brand > span{
    color: #68c3a3;
}

.nav-custom .navbar-nav > li > a{
    color: #282828;
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-custom .nav li.active,
.navbar .navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus,
.nav-custom .navbar-nav .nav-item.active > a {
    color: #68c3a3;
    outline: 0;
    background: none;
}




/* #4 ===About=== */
.short-info {
    margin-bottom: 40px;
}

.short-info h3 {
    margin-bottom: 30px;
}

.short-info p,
.short-info ul li {
    font-family: 'Open Sans', sans-serif;
}

.short-info ul {
    margin-top: 10px;
    display:inline-block;
}
.short-info ul li {
    width: 50%;
    float: left;
}
.download-button a {
    margin-right: 20px;
    color: #fff;
}
.download-button a i {
    margin-right: 10px;
}
ul, ol {
    margin     : 0;
    padding    : 0;
    list-style : none
}


ul.list-check li{
    position: relative;
    font-size: 18px;
    line-height: 32px;
}

ul.list-check i {
	color: #68c3a3;
}

/* #5 === Resume Section === */

/*---------------------------------------------------------
Resume Timeline
-----------------------------------------------------------*/
.resume-title h3{
    text-align: center;
}
.resume-section > div > div{
    margin-bottom: 60px;
}
/*.resume-section > div > div:nth-of-type(2){
    margin-bottom: 0;
}*/
.resume-title{
    margin-bottom: 30px;
}

.timeline {
    position: relative;
    /*padding: 0;
    list-style: none;*/
}

.resume{
    position: relative;
}

/*Start Decor*/
.resume:before{
    content: "";
    position: absolute;
    top: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

/*End Decor*/
.resume:after{
    content: "";
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

/* Line shape*/
.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #e1e1e1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    /*min-height: 50px;*/
}

.timeline>li:before,
.timeline>li:after {
    content: "";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    /*width: 100%;*/
}

.timeline-content{
    padding:5px 20px 0 20px;
}


/*.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}*/

.timeline>li .posted-date {
    position: relative;
    /*text-align: center;
    background-color: #fff;*/
    left: 20px;
}


.timeline>li .posted-date .month {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    display: block;
    /*top: 0;*/
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

/*.timeline>li:last-child {
    margin-bottom: 0;
}*/

.timeline-heading h3 {
    font-size: 25px;
    line-height: 30px;
}
.timeline-heading span{
    display: block;
    font-weight: 300;
    margin-bottom: 20px;
    font-style: italic;
}





@media(min-width:992px) {
    .timeline:before {
        left: 50%;
    }


    /*.timeline>li {
        margin-bottom: 15px;
        min-height: 100px;
    }*/

    .timeline>li .posted-date {
        position: absolute;
        text-align: center;
        background-color: #fff;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 43%;
        text-align: right;
        border: 1px solid #eee;
    /* position: relative;*/
    }

    .timeline-content{
        /*position: relative;*/
        padding: 24px;
        background-color: #fff;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }

    /*.timeline-content::after{
        border: 1px solid #eee;
        width: 100%;
        position: relative;
        content: "";
        bottom: -3px;
        height:10px;
        left: 0;
        z-index: -1;
    }*/

    .timeline>li .timeline-content:hover {
        background: #68c3a3;
        color: #fff;
    }

    /* Little trangle on the left/right of the panel*/
    .timeline>li .timeline-panel::before,
    .timeline>li.timeline-inverted .timeline-panel::before {
        content: "";
        top: 25px;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    /* Add to the right most of panels*/
    .timeline>li .timeline-panel::before {
        left: 100%;
        border-left: 12px solid #ECECEC;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }
    /* Hover effect */
    .timeline>li .timeline-panel:hover::before {
        border-left: 12px solid #68c3a3;
    }

    /* Add to the left most of panels */
    .timeline>li.timeline-inverted .timeline-panel::before {
        right: 100%;
        border-right: 12px solid #ECECEC;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }
    /* Hover effect */
    .timeline>li.timeline-inverted .timeline-panel:hover::before {
        border-right: 12px solid #68c3a3;
        border-left: 0;
    }

    /* Make the triangle transparent inside */
    .timeline>li .timeline-panel::after,
    .timeline>li.timeline-inverted .timeline-panel::after {
        content: "";
        top: 25px;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline>li .timeline-panel::after {
        left: 100%;
        margin-left: -2px;
        border-left: 12px solid #FFFFFF;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }
    .timeline>li .timeline-panel:hover::after {
        border-left: 12px solid #68c3a3;
    }

    .timeline>li.timeline-inverted .timeline-panel::after {
        right: 100%;
        margin-right:-2px;
        border-right: 12px solid #FFFFFF;
        -webkit-transition:all 400ms;
        -moz-transition:all 400ms;
        -o-transition:all 400ms;
        transition: all 400ms;
    }
    .timeline>li.timeline-inverted .timeline-panel:hover::after {
        border-right: 12px solid #68c3a3;
        border-left: 0;
    }

    /* Date */
    .timeline>li .posted-date {
        left: 50%;
        width: 120px;
        margin-left: -60px;
        margin-top: 28px;
    }
    .timeline>li .posted-date .month {
        float: none;
    }
}


/* ===Section Divider=== */
.secDivider-parallax {
    padding: 200px 0;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: -webkit-linear-gradient(bottom, #68C3A3, rgba(104, 195, 163, 0.7)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Fx 3.6-15*/
    background: linear-gradient(to top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Standard*/
}

.secDivider {
    background: url('../images/divider-1.jpg') no-repeat top center #68C3A3;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 180%;
    top: 0;
    z-index: 1;
    opacity: 0.4;
}


.content-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
}

/* #6 === Skill Section === */
.skills-section {
    background-color: #1a1e23;
    color: #fff;   
}
.skills-section .section-title{
    color: #fff;
    margin-bottom: 110px;  
}
.skills-section .section-title h2{
    color: #fff;
}
.skill-title {
    width: 20%;
    float: left;
}
.skill-title h3{
    font-size: 18px;
    font-weight: 400;
    margin-top: -6px;
    
}



/* progress-bar */

.skill-progress {
    position: relative;
}

.progress {
    height: 10px;
    margin-bottom: 40px;
    background-color: #3a4149;
    border-radius: 3px;
    box-shadow: none;
    width: 80%;
}

.progress-bar {
    background-color: #68c3a3;
    width: 0%;
}


.progress-bar-b {
    background-color: #68c3a3;
    width: 0%;
}

.progress-bar span{
    position: absolute;
    top: -20px;
    right: 15px;
}

.skill-progress .container .row span{
    position: absolute;
    top: -20px;
    right: 15px;
    font-size: 12px;

}

.progress .progress-bar.six-sec-ease-in-out-a{
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition:  width 0.5s ease-in-out;
}
.progress .progress-bar.six-sec-ease-in-out-b{
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition:  width 0.5s ease-in-out 0.45s;
}
  .progress .progress-bar.six-sec-ease-in-out-c{
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition:  width 0.5s ease-in-out 0.9s;
  }
  .progress .progress-bar.six-sec-ease-in-out-d{
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition:  width 0.5s ease-in-out 1.35s;
}

.skill-chart h3 {
    margin-top: 20px;
}

.progress-percent{
    margin-left: auto;
    margin-right: auto;
}

/* === Chart CSS  === */
.chart {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 40px auto;
    text-align: center;
}
.chart canvas {
    position:absolute; 
    top:0; 
    left:0;
}
.percent {
    display: inline-block;
    margin: auto;
    line-height: 140px;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.percent:after {
    content: '%';
}

.chart-text span {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    margin-top: 20px;
}

/* === #7 Contact Section === */
.contact-section strong {
    display: block;
    text-transform: uppercase;
}
.contact-form strong {
    margin-bottom: 40px;
    font-size: 20px;
}

.contact-form textarea.form-control {
    height: 115px;
}

.contact-form .btn {
    margin-top: 15px;
}

.contact-section div > i{
    float: left;
    font-size: 45px;
    margin-right: 20px;
}
.contact-section address,
.contact-section .contact-number {
    overflow: hidden;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 45px
}


/*MAP*/
.location-map {
    padding: 4px;
    border: 1px solid #eee;
    border-bottom: 3px double #eee;
}
.map-canvas {
    height: 380px;
}

/* === #8 Footer === */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h6 {
    color: white;
}

footer div .row{
    padding: 0px;
    margin: 0px;
}

/* === #9 Scrool To Top === */
.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 1.8em;
	right: 1.8em;
}

.scroll-up a {
	background-color: #68c3a3;
	display: block;
	width: 38px;
	height: 38px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
}

.scroll-up a:hover,
.scroll-up a:active {
	background-color: rgba(235, 235, 235, .8);
	color: #222;
}

