h1{
	font-size: 50px;
	font-family: Arial;
	color: white;
	background: rgba(122,0,25,1);
	text-align: center;
}

#intro{
	margin: auto;
	width: 12%;
	border: 3px solid maroon;
	padding: 10px;
	font-size: 25px;
	text-align: center;
}

body{
	text-align: center;
	font-size: 18px;
	font-family: Arial;
	margin: auto;
	width: 900px;

	background-image:url("../css/imgs/b0 1_t.png"), url("../css/imgs/b0 2_t.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left, right;
	background-size: 500px 1000px, 500px 1000px;
	
}

.banner{
	font-family: verdana; 
	font-size: 25px; 
	color:white; 
	margin-top: 35px; 
	margin-bottom: 35px;
	text-align: center; 
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); 
	padding: 25px;
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	-o-border-radius:24px;
	border-radius:24px;
}

#pages{
	background: black;
	color: white;
	font-family: Arial;
	padding: 5px;
	width: 50%;
	margin: 25px auto;
}

div.links{
	position: relative;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 200px;
	height: 250px;
	margin-left:75px;
	margin-bottom: 25px;
	background: white;
	float: left;
	z-index: 1;
}

img.down{
	width:200px; 
	height:200px;
	-webkit-transform: translate(0px,-204px);
	-moz-transform: translate(-100px,-204px);
	-webkit-position: absolute;
	z-index: 2;
}
.dkw{
	-webkit-transform: translate(0px,-204px);
}

.imgLink{
	position: relative;
	width:200px; 
	height:200px; 
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	z-index: 3;
}

.imgLinkText{
	text-align: center;
	padding: 10px 20px;
	font-size: 12px;
}

img.chang:hover{
	opacity: 0;
}

.chang{
	-webkit-transform: rotate(90deg);
}

[controls] {
	height: 80px;
margin-top:2.25em;
margin-bottom:0.25em;
}

footer{
	margin-top: 240px;
	font-size: 12px;
	font-family: 'Pacifico', cursive;
	display: block;
	clear: both;
}

.testo{
	color:white;
	background: black;
	padding: 15px;
	border-radius: 24px;
	width: 450px;
	margin: auto;
}

.testolo{
	color:white;
	background: white;
	padding: 15px;
	border-radius: 24px;
	width: 450px;
	margin: auto;
}

